

.container{
    width: 100%;
}
.menu{
    font-size: 29px;
    font-family: monospace;
    text-align: center;
}
/*start box*/
.box{
    padding: 30px;
    margin: 5px;
    border: 3px solid black;
    
    position: relative;
    background-color: #9f9292b3;
    height: auto;
    width: auto;

}
.h-box{
    text-align: center;
    padding: 2px;
    border: 2px solid black;
    height: 37px;
    width: 145px;
    
    position: absolute;
    right: 0px;
    top: -21px;
    
    font-weight: bold
}



.p-box{
    font-size: 20px;
}
/* box red */
.box1 .h-box1{
    
    background: #c93d3d;
    color: white;
    
    
}
/* box near to red*/

.h-box2{
    color: rgb(14, 12, 12);
    background-color: #ef7070;
}
 /* box yellow */
 .h-box3{
    color: black;
    background-color: #d9d95c;
 }
/* screens*/
 @media (min-width:992px) {
    .lg{
        width: calc(82%/3);
        float: left;
    }
    
 }
 @media (min-width:768px) and (max-width:991px) {
    .md{
        width: calc(75%/2);
        float:left;
    }
    .md-12{
        width: 85%;
        float:left;
    }
    
 }
 @media (max-width:767px) {
    
    .sm{
        width: 82%;
        float: left;
    }
 }
 